* {
  margin: 0 padding: 0
}

#r2prime {
  height: 80%;
  width: 80%;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
}

#r5 {
  width: 20%;
  float: left;
  margin: 0 25px 0 5px;
}

@media (max-width: 960px) {
  body {
    background-color: orange;
  }
  #r5 {
    width: 32%;
    float: left;
    margin: 0 25px 10px 5px;
  }
}
@media (max-width: 768px) {
  body {
    background-color: orange;
  }
  #r5 {
    width: 50%;
    float: left;
    margin: 0 25px 10px 5px;
  }
}
