* {
  box-sizing: border-box;
  margin: 0 auto;
}
.nav {
  font-size: 11px;
  letter-spacing: 4px;
  opacity: 0.8;
  background-color: black
}

.nav-item a {
  float: left;
  color: red;
  text-align: center;
  color: #d5d5d5;
}

.nav-item a:hover {
  color: black;
  color: #fff;
}

.nav-item a.active {
  color: red;
}

.content {
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
  display: block;
}

.co-1  {
  width: 49%;

}

.co-2 {
  width: 49%;
}

.co-3  {
  width: 49%;

}

.co-4 {
  width: 49%;
}

[class*="co-"] {
  overflow: auto;
  padding: 10px;
  float: left;
}

.carousel-inner img {
   width: 100%;
   margin: auto;
   filter: grayscale(90%);
 }
 .carousel-caption h3 {
     color: #fff !important;
 }
 @media (max-width: 600px) {
   .carousel-caption {
     display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
   }
 }


#aboutv {
  width: 80%;
  margin: 20px auto;
  border: 1px solid;
  overflow: auto;
  padding: 5px auto;
}
#allanv {
  width: 80%;
  margin: 20px auto;
  border: 1px solid;
  overflow: auto;
  padding: 5px auto;
}
